<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Unfourtunately your account has been deleted because of unknown reasons. Your username were: <%= @user.login %>.<br>
    </p>
  </body>
</html>
