<!-- Off Canvas Menu -->
<a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>

<aside class="left-off-canvas-menu">
  
  <div class="icon-bar vertical five-up">
  <a class="item">
    <i class="fi-home"></i>
    <label>Home</label>
  </a>
  <a class="item">
   <i class="fi-home"></i>
    <label>Bookmark</label>
  </a>
  <a class="item">
    <i class="fi-home"></i>
    <label>Info</label>
  </a>
  <a class="item">
    <i class="fi-home"></i>
    <label>Mail</label>
  </a>
  <a class="item">
    <i class="fi-home"></i>
    <label>Like</label>
  </a>
</div>
  
</aside>

